@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", system-ui;
    color: hsl(218, 20%, 16%);
}

main{
    width: 768px;
    margin: 40px auto;
}
    article{
        padding: 40px;
        box-shadow: 0px 4px 4px hsla(0, 0%, 26%, 0.4);
        border-radius: 8px;
    }

    label{
        width: 400px;
        height: 64px;
        padding: 24px;
        display: flex;
        align-items: center;
        background-color: #fab9b9;
        border-radius: 8px;
    }
        label input[type="checkbox"]{
            margin-left: 12px;
        }