@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Figtree", system-ui;
    color: hsl(218, 20%, 16%);
}

header{
    background-color: #5B86E5;
}
    header div{
        width: 1100px;
        height: 104px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        header div nav a{
            padding: 8px;
            color: white;
            font-size: 20px;
            text-decoration: none;
        }

/* main */        
/* sección hero-banner */
    #hero-banner{
        height: 680px;
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=5b86e5&c2=37d2dc&gt=l&gd=dtt
*/
        background: #5B86E5;
        background: linear-gradient(180deg, #5B86E5, #37D2DC);

    }
        #hero-banner div{
            width: 1100px;
            height: 680px;  
            margin: auto; 
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
            #hero-banner div article{
                color: #fff;
            }
                #hero-banner div article h1{
                    font-weight: normal;
                    font-size: 24px;
                    margin-bottom: 40px;
                }
                #hero-banner div article h2{
                    width: 478px;
                    font-weight: 600;
                    font-size: 40px;
                }

/* sección servicios */
    #servicios{
        width: 1100px;
        margin: 72px auto 0px auto;
        padding: 32px 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

        #servicios h3{
            width: 100%;
            text-align: center;
            font-weight: 400;
            font-size: 24px;
        }
        #servicios article{
            width: 336px;
            margin-top: 32px;
            padding: 24px 28px;
            border: 2px solid hsl(199, 100%, 51%);
            border-radius: 8px;
            color: hsl(199, 100%, 51%);
        }
            #servicios article h2{
                margin: 24px 0px 16px 0px;
                font-weight: 300;
            }
            #servicios article p{
                margin-bottom: 8px;
            }
            #servicios article a{
                text-decoration: none;
                color:  hsl(199, 100%, 51%);
            }
    
/* footer */
footer{
    background-color: hsl(221, 73%, 16%);
    margin-top: 72px;
}
    footer div{
        width: 1100px;
        height: 216px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /**/
        padding: 0px 0px 0px 16px;
    }
        /*footer div nav a{
            margin: 16px;
        }*/
        footer div nav{
            width: 224px;
            display: flex;
            justify-content: space-around;
        }