body{
    background-color: hsl(325, 33%, 14%);
    color: hsl(325, 33%, 86%);
    font-family: trebuchet MS, sans-serif;
    font-size: 24px;
    margin: 0;
}
main{
    background-color: hsl(325, 33%, 20%);
    width: 768px;
    margin: 64px auto;
}
    section{
        height: 380px;
        background-color:  hsl(325, 33%, 8%);
    }
        article{
            width: 96px;
            height: 96px;
            margin: 24px;
            background-color: hsl(325, 33%, 40%);
            border: 1px solid hsl(325, 33%, 70%);
        }